/* BUTTONS */
.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  color: var(--white);
  background-color: var(--primary-1);
}

.btn-default:hover,
.btn-outline:hover {
  color: var(--white);
  background-color: var(--primary-2);
  text-decoration: none;
}

.btn-default:active,
.btn-outline:active {
  color: var(--primary-1);
  background-color: var(--primary-4);
}

.btn-default[disabled],
.btn-outline[disabled] {
  color: var(--primary-4);
  background-color: var(--primary-5);
  cursor: default;
}

.btn-accent {
  color: var(--white);
  background-color: var(--accent-1);
}

.btn-accent:hover {
  color: var(--white);
  background-color: var(--accent-2);
  text-decoration: none;
}

.btn-accent:active {
  color: var(--accent-1);
  background-color: var(--accent-4);
}

.btn-accent[disabled] {
  color: var(--accent-4);
  background-color: var(--accent-5);
  cursor: default;
}

.btn-outline {
  color: var(--primary-1);
  background-color: var(--primary-4);
  border: var(--primary-1) 2px solid;
  box-shadow: 1px 1px 7px #c4c4c4;
  padding: 8px 25px;
  border-radius: 10px;
}
.btn-delete, .btn-increment, .btn-decrement {
  padding: 10px;
  border: none;
  background: none;
}
.btn-decrement {
  padding-right:  20px;

}
.btn-increment {
  padding-left:  20px;
}
