.cart-layout {
  background-color:  #fff;
  border-radius: 15px;
}
.cart-checkout {
  background-color:  #fff;
  overflow: hidden;
  margin-bottom:  10px;
}
.cart-items {
 margin: auto;
 height: 20%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 25px;
 border-radius:  5px;
}

.image-box{
 text-align: center;
}

.cart-image {
  border-radius:  5px;
  margin-top: 15px;
}
.about {
 height: 100%;
 align-items: left;
}
.title, .subtitle {
 line-height: 10px;
}

.counter {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.btn-counter {
/*  width:  15%;*/
 width: 30px;
 height: 30px;
 background-color: #d9d9d9;
 border-radius:  50%;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #202020;
 cursor: pointer;
 padding:  5px;
}

.count {
/* font-size: 20px;*/
 /*font-weight: 900;*/
 color: #202020;
 padding:  15px;
}

.prices {
 text-align: right;
}

.amount {
 padding-top: 5px;

}

hr {
 width: 66%;
 float: right;
 margin-right: 2%;
}

.checkout{
 float: right;
 margin-right: 5%;
 width: 28%;
}
.total {
 width: 100%;
 display: flex;
 justify-content: space-between;
font-size: 22px;
font-weight: 700;
color: #202020;
}

.items {
 font-size: 16px;
 font-weight: 500;
 color: #909090;
 line-height: 10px;
}

.total-amount{
/* font-size: 36px;
 font-weight: 900;*/
 color: #202020;
}

.button {
  margin: 15px auto;
  width: 100%;
  height: 40px;
  border: 0;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  transition: background-color 200ms, color 200ms;
}
