/* TABS */
.tabs {
  margin: 0 0 40px 0;
  border-bottom: var(--neutral-4) solid 1px;
}

.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.tabs li {
  display: inline-block;
}

.tabs a {
  text-decoration: none;
  padding-bottom: 10px;
  color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
}
.tabs .tab-active {
  border-bottom: 7px solid var(--primary-1);
}
